article {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about.content {
    display: flex;
    flex-direction: column;
  }
  
  .about_feed {
    flex-grow: 1;
    overflow: auto;
  }