.about_feed {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.about_feed_primer {
  font-size: 15px;
  text-align: left;
  padding: 16px;
  padding-top: 10px;
  color: #fff;
}

.about_feed_primer section {
  width: 100%; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.about_feed_collection {
  display: flex;
  flex-direction: column;
}

.about_feed_heading {
  padding: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px rgb(58,63,78);
}

.about_feed_heading .title{
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
