section {
  flex-shrink: 1;
  width: 380px;
  padding: 16px;
}

section footer {
  display: flex;
  gap: 16px;
  padding: 12px;
}

.section .profile-avatar{
  background: rgb(149,0,255);
  height: 60px;
  width: 60px;
  border-radius: 999px;
  flex-shrink: 0;
  display: block;
}

section footer a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
}

section footer a:hover {
  color: rgba(255,255,255,1);
}