.dropdown-link {
  display: flex;
  gap: 8px;
  align-items: center;
  color: rgb(255, 255, 255, 0.5);
  font-size: 20px;
  text-decoration: none;
  padding: 8px 0;
  margin-left: 45px;
}

.dropdown-link:hover {
  color: rgb(255, 255, 255, 1);
}

.dropdown li {
  text-align: justify;
}

.dropdown {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255, 0.5);
}
